article.about {
  div.split {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;

    img.map {
      height: 200px;
      filter: invert(40%) sepia(11%) saturate(1920%) hue-rotate(222deg)
        brightness(93%) contrast(83%);
    }

    img.portrait {
      width: 150px;
      height: auto;
    }

    div > p:first-child {
      margin-top: 0;
    }
  }

  img {
    height: 50px;
  }
}
