article.about > div.split {
  display: flex;
  align-items: flex-start;
  gap: 1rem;

  img.portrait {
    width: 150px;
  }

  div > p:first-child {
    margin-top: 0;
  }

  @include mobile {
    flex-direction: column;
    align-items: center;
  }
}
