.fa-envelope {
  transition: 0.5s;
}

.fa-envelope:hover {
  color: #f39c12;
}

.fa-github {
  transition: color 0.5s;
}

.fa-github:hover {
  color: #343434;
}

.fa-linkedin {
  transition: color 0.5s;
}

.fa-linkedin:hover {
  color: #0073a4;
}

.fa-stack-overflow {
  transition: color 0.5s;
}

.fa-stack-overflow:hover {
  color: #e7700d;
}

.fa-square-rss {
  transition: color 0.5s;
}

.fa-square-rss:hover {
  color: #f60;
}

.fa-codepen {
  transition: color 0.5s;
}

.fa-codepen:hover {
  color: #000;
}
