// Colours
// Pico have some nice colours - https://picocss.com/docs/colors
$pink-50: #fbedef;
$pink-100: #f9dbdf;
$pink-200: #f9b4be;
$pink-300: #f8889e;
$pink-400: #f6547e;

$purple-500: #cd68e0;

$fushia-600: #ac1c7c;

$violet-400: #a780d4;
$violet-600: #7540bf;

$gray-50: #f1f1f1;
$gray-100: #e2e2e2;
$gray-150: #d4d4d4;
$gray-200: #c6c6c6;
$gray-250: #b9b9b9;
$gray-300: #ababab;
$gray-400: #919191;
$gray-500: #777777;
$gray-600: #5e5e5e;
$gray-700: #474747;
$gray-800: #303030;
$gray-900: #1b1b1b;

// Coolors theme
$clay: #c4bbb8;
$soft-pink: #f5b0cb;
$strong-pink: #dc6acf;
$purple: #745c97;
$deep-purple: #39375b;

$primary: $purple; //$violet-600;
$secondary: $strong-pink;

$backgroundColor: #fffdff;
$bodyColor: $gray-900;

// Font stacks
$bodyFont: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$headingFont: "Nunito Sans", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
