$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$lightGrayy: #888;
$gray: #666;
$blue: #0000ff;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 10px;
  width: 100%;
}

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-size: 18px;

  a {
    margin-left: 20px;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;
  }
}
