<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{{'/assets/css/main.css' | relative_url}}">
    <link rel="stylesheet" href="{{'/assets/css/syntax.css' | relative_url}}">
    {% seo %}
  </head>
  <body>
    <header>
      <div class="inner-shadow" style="--header-background-image: url({{'/assets/images/WaveGrad-3500x100-3.png' | relative_url}})">
        <span class="logo">{{ site.name }}</span>
      </div>
      <nav>
        <a href="{{'/' | relative_url}}" {% if page.url == '/' %} class="current" {% endif %} >Home</a>
        <a href="{{'/blog' | relative_url}}" {% if page.url == '/blog/' %} class="current" {% endif %}>Blog</a>
        <a href="{{'/topics' | relative_url}}" {% if page.url == '/topics/' %} class="current" {% endif %}>Topics</a>
        <a href="{{'/resources' | relative_url}}" {% if page.url == '/resources/' %} class="current" {% endif %}>Resources</a>
        <a href="{{'/about' | relative_url}}" {% if page.url == '/about/' %} class="current" {% endif %}>About</a>
      </nav>
    </header>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <footer class="inner-shadow" style="--footer-background-image: url({{'/assets/images/WaveGrad-3500x100-3.png' | relative_url}})">
      <div class="social-icons">{% include social-icons.html %}</div>
      <div class="copyright">Copyright © Greg Stanley</div>
    </footer>
  </body>
</html>
