<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/syntax.css" | relative_url }}">
  </head>
  <body>
    <div class="header-wrapper">
      <header>
        <div class="header" style="--header-background-image: url('{{ site.baseurl }}/assets/pics/WaveGrad-3500x100-3.png')">
          <span class="logo">{{ site.name }}</span>
        </div>
        <nav>
          <a href="{{ site.baseurl }}">Home</a>
          <a href="{{ site.baseurl }}/blog">Blog</a>
          <a href="{{ site.baseurl }}/topics">Topics</a>
          <a href="{{ site.baseurl }}/resources">Resources</a>
          <a href="{{ site.baseurl }}/about">About</a>
        </nav>
      </header>
    </div>
    <div id="main" role="main" class="container">
      {{ content }}
    </div>
    <div class="container footer-wrapper" style="--footer-background-image: url('{{ site.baseurl }}/assets/pics/WaveGrad-3500x100-3.png')">
      <footer class="footer" >{% include svg-icons.html %}</footer>
    </div>
  </body>
</html>
